# Machine Learning Algorithms

In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from matplotlib.ticker import MaxNLocator
import keras

## Training Dataset

In [2]:
dft1 = pd.read_csv('TripA04.csv')
dft2 = pd.read_csv('TripA06.csv')
dft3 = pd.read_csv('TripA08.csv')
dft4 = pd.read_csv('TripA12.csv')
dft5 = pd.read_csv('TripA16.csv')
dft6 = pd.read_csv('TripA20.csv')
dft7 = pd.read_csv('TripA24.csv')
dft8 = pd.read_csv('TripA28.csv')
dft9 = pd.read_csv('TripA32.csv')
dft10 = pd.read_csv('TripB01.csv')
dft11 = pd.read_csv('TripB03.csv')
dft12 = pd.read_csv('TripB10.csv')
dft13 = pd.read_csv('TripB15.csv')
dft14 = pd.read_csv('TripB20.csv')
dft15 = pd.read_csv('TripB23.csv')
dft16 = pd.read_csv('TripB25.csv')
dft17 = pd.read_csv('TripB27.csv')
dft18 = pd.read_csv('TripB30.csv')
dft19 = pd.read_csv('TripB33.csv')
dft20 = pd.read_csv('TripB38.csv')
dft21 = pd.read_csv('TripA02.csv')
dft22 = pd.read_csv('TripA03.csv')
dft23 = pd.read_csv('TripA07.csv')
dft24 = pd.read_csv('TripA15.csv')
dft25 = pd.read_csv('TripA21.csv')
dft26 = pd.read_csv('TripA25.csv')
dft27 = pd.read_csv('TripA27.csv')
dft28 = pd.read_csv('TripB05.csv')
dft29 = pd.read_csv('TripB07.csv')
dft30 = pd.read_csv('TripB13.csv')
dft31 = pd.read_csv('TripB16.csv')
dft32 = pd.read_csv('TripB22.csv')
dft33 = pd.read_csv('TripB28.csv')
dft34 = pd.read_csv('TripB31.csv')
dft35 = pd.read_csv('TripB37.csv')

df = pd.concat([dft1, dft2, dft3, dft4, dft5, dft6, dft7, dft8, dft9, dft10, dft11, dft12, dft13, dft14, dft15, dft16, dft17, dft18, dft19, 
                dft20, dft21, dft22, dft23, dft24, dft25, dft26, dft27, dft28, dft29, dft30, dft31, dft32, dft33, dft34, dft35], ignore_index=True)
df.shape

(538214, 102)

In [3]:
# Extracting input variables and target variable from the dataset
Train_DF = df[['Battery Voltage [V]','Battery Current [A]','Battery Temperature [C]','SoC [%]']]

In [4]:
Train_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538214 entries, 0 to 538213
Data columns (total 4 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Battery Voltage [V]      538214 non-null  float64
 1   Battery Current [A]      538214 non-null  float64
 2   Battery Temperature [C]  496092 non-null  float64
 3   SoC [%]                  532403 non-null  float64
dtypes: float64(4)
memory usage: 16.4 MB

In [5]:
Train_DF.describe()

,Battery Voltage [V],Battery Current [A],Battery Temperature [C],SoC [%]
count,538214.000000,538214.000000,496092.000000,532403.000000
mean,376.137015,-21.815535,16.707009,65.893844
std,10.793452,43.691556,7.965289,12.973672
min,301.800000,-402.280000,-1.000000,19.600000
25%,369.820000,-33.640000,10.000000,59.500000
50%,378.930000,-12.670000,18.000000,68.200000
75%,384.066905,-2.600000,25.000000,75.400000
max,394.660000,143.840000,32.000000,86.600000

### Data Preprocessing

In [6]:
Train_DF.isna().sum()

Battery Voltage [V]            0
Battery Current [A]            0
Battery Temperature [C]    42122
SoC [%]                     5811
dtype: int64

In [7]:
Train_DF = Train_DF.fillna(method = 'bfill')
Train_DF.isna().sum()

C:\Users\moule\AppData\Local\Temp\ipykernel_14684\1450340318.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  Train_DF = Train_DF.fillna(method = 'bfill')

Battery Voltage [V]        0
Battery Current [A]        0
Battery Temperature [C]    0
SoC [%]                    0
dtype: int64

In [8]:
Train_DF = Train_DF.sort_values(by='SoC [%]', ascending=False)
Train_DF

,Battery Voltage [V],Battery Current [A],Battery Temperature [C],SoC [%]
35770,391.57,-8.96,26.0,86.6
35782,390.97,-16.99,26.0,86.6
35792,390.83,-17.85,26.0,86.6
35791,390.82,-17.96,26.0,86.6
35790,390.87,-17.66,26.0,86.6
...,...,...,...,...
510698,339.38,-1.30,11.0,19.6
510696,338.25,-10.61,11.0,19.6
510695,338.10,-11.60,11.0,19.6
510694,338.10,-11.15,11.0,19.6
510697,338.70,-6.71,11.0,19.6

In [9]:
Train_DF.shape

(538214, 4)

## Test Dataset

In [10]:
dft_1 = pd.read_csv('TripA01.csv')
dft_2 = pd.read_csv('TripA09.csv')
dft_3 = pd.read_csv('TripA14.csv')
dft_4 = pd.read_csv('TripA17.csv')
dft_5 = pd.read_csv('TripA23.csv')
dft_6 = pd.read_csv('TripA30.csv')
dft_7 = pd.read_csv('TripB02.csv')
dft_8 = pd.read_csv('TripB06.csv')
dft_9 = pd.read_csv('TripB11.csv')
dft_10 = pd.read_csv('TripB19.csv')
dft_11 = pd.read_csv('TripB26.csv')
dft_12 = pd.read_csv('TripB36.csv')

df_test = pd.concat([dft_1, dft_2, dft_3, dft_4, dft_5, dft_6, dft_7, dft_8, dft_9, dft_10, dft_11, dft_12], ignore_index=True)
df_test.shape

(152119, 74)

In [11]:
# Extracting input variables and target variable from the dataset
Test_DF = df_test[['Battery Voltage [V]','Battery Current [A]','Battery Temperature [C]','SoC [%]']]

### Data Preprocessing

In [12]:
Test_DF.isna().sum()

Battery Voltage [V]        0
Battery Current [A]        0
Battery Temperature [C]    0
SoC [%]                    5
dtype: int64

In [13]:
Test_DF = Test_DF.fillna(method = 'bfill')
Test_DF.isna().sum()

C:\Users\moule\AppData\Local\Temp\ipykernel_14684\2831511208.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  Test_DF = Test_DF.fillna(method = 'bfill')

Battery Voltage [V]        0
Battery Current [A]        0
Battery Temperature [C]    0
SoC [%]                    0
dtype: int64

In [14]:
Test_DF = Test_DF.sort_values(by='SoC [%]', ascending=False)
Test_DF

,Battery Voltage [V],Battery Current [A],Battery Temperature [C],SoC [%]
42171,390.30000,-20.05670,16.0,87.4
42128,390.50000,-19.45650,16.0,87.4
42140,390.40000,-19.30000,16.0,87.4
42139,390.43586,-19.55104,16.0,87.4
42138,390.48586,-19.90102,16.0,87.4
...,...,...,...,...
123316,347.56000,5.16000,15.0,21.2
123315,347.61000,5.34000,15.0,21.2
123314,347.66000,6.19000,15.0,21.2
123313,347.72000,7.07000,15.0,21.2
123278,347.58000,9.93000,15.0,21.2

## Miscellaneous Dataset

In [15]:
dfm1 = pd.read_csv('TripA05.csv')
dfm2 = pd.read_csv('TripA10.csv')
dfm3 = pd.read_csv('TripA11.csv')
dfm4 = pd.read_csv('TripA13.csv')
dfm5 = pd.read_csv('TripA18.csv')
dfm6 = pd.read_csv('TripA19.csv')
dfm7 = pd.read_csv('TripA22.csv')
dfm8 = pd.read_csv('TripA26.csv')
dfm9 = pd.read_csv('TripA29.csv')
dfm10 = pd.read_csv('TripA31.csv')
dfm11 = pd.read_csv('TripB04.csv')
dfm12 = pd.read_csv('TripB08.csv')
dfm13 = pd.read_csv('TripB09.csv')
dfm14 = pd.read_csv('TripB12.csv')
dfm15 = pd.read_csv('TripB14.csv')
dfm16 = pd.read_csv('TripB17.csv')
dfm17 = pd.read_csv('TripB18.csv')
dfm18 = pd.read_csv('TripB21.csv')
dfm19 = pd.read_csv('TripB24.csv')
dfm20 = pd.read_csv('TripB29.csv')
dfm21 = pd.read_csv('TripB32.csv')
dfm22 = pd.read_csv('TripB34.csv')
dfm23 = pd.read_csv('TripB35.csv')

df_mis = pd.concat([dfm1, dfm2, dfm3, dfm4, dfm5, dfm6, dfm7, dfm8, dfm9, dfm10, dfm11, dfm12, dfm13, dfm14, dfm15, dfm16, dfm17, dfm18, dfm19, 
                dfm20, dfm21, dfm22, dfm23], ignore_index=True)
df_mis.shape

(404460, 75)

In [16]:
# Extracting input variables and target variable from the dataset
Mis_DF = df_mis[['Battery Voltage [V]','Battery Current [A]','Battery Temperature [C]','SoC [%]']]

### Data Preprocessing

In [17]:
Mis_DF.isna().sum()

Battery Voltage [V]            0
Battery Current [A]            0
Battery Temperature [C]        0
SoC [%]                    15438
dtype: int64

In [18]:
Mis_DF = Mis_DF.fillna(method = 'bfill')
Mis_DF.isna().sum()

C:\Users\moule\AppData\Local\Temp\ipykernel_14684\284891322.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  Mis_DF = Mis_DF.fillna(method = 'bfill')

Battery Voltage [V]        0
Battery Current [A]        0
Battery Temperature [C]    0
SoC [%]                    0
dtype: int64

In [19]:
Mis_DF = Mis_DF.sort_values(by='SoC [%]', ascending=False)
Mis_DF

,Battery Voltage [V],Battery Current [A],Battery Temperature [C],SoC [%]
58249,391.98,-10.03,22.0,88.5
58242,392.12,-9.81,22.0,88.5
58248,391.88,-11.44,22.0,88.5
58247,391.80,-12.63,22.0,88.5
58246,391.80,-12.78,22.0,88.5
...,...,...,...,...
375280,344.38,-5.59,14.0,15.4
375279,344.37,-5.32,14.0,15.4
375278,344.32,-4.77,14.0,15.4
375277,344.33,-4.70,14.0,15.4
375174,344.40,-5.16,14.0,15.4

## Splitting the Data into Training and Validation Subsets

In [20]:
# Separating the input features and target variable
X = Train_DF[['Battery Voltage [V]', 'Battery Current [A]', 'Battery Temperature [C]']]
y = Train_DF['SoC [%]']

# Performing 80:20 train-test split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

## Normalizing the Data

In [21]:
scaler = MinMaxScaler(feature_range=(-1, 1))
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

In [22]:
X_test = Test_DF[['Battery Voltage [V]', 'Battery Current [A]', 'Battery Temperature [C]']]
y_test = Test_DF['SoC [%]'] 
X_test_scaled = scaler.transform(X_test)

In [23]:
X_mis = Mis_DF[['Battery Voltage [V]', 'Battery Current [A]', 'Battery Temperature [C]']]
y_mis = Mis_DF['SoC [%]'] 
X_mis_scaled = scaler.transform(X_mis)

## Linear Regression

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

lr_model = LinearRegression()

lr_model.fit(X_train_scaled, y_train)

training_score_lr = lr_model.score(X_train_scaled, y_train)
print('Training R2 Score (in %):', round(training_score_lr*100, 4))

validation_score_lr = lr_model.score(X_val_scaled, y_val)
print('Validation R2 Score (in %):', round(validation_score_lr*100, 4))

Training R2 Score (in %): 83.0523
Validation R2 Score (in %): 82.4862

In [64]:
testing_score_lr = lr_model.score(X_test_scaled, y_test)
print('Testing R2 Score (in %):', round(testing_score_lr*100, 4))

Testing R2 Score (in %): 93.5444

In [26]:
mis_testing_score_lr = lr_model.score(X_mis_scaled, y_mis)
print('Miscellaneous Testing R2 Score (in %):', round(mis_testing_score_lr*100, 4))

Miscellaneous Testing R2 Score (in %): 81.546

## Lasso Regression

In [60]:
from sklearn.linear_model import Lasso

lasso_model = Lasso(alpha=0.01, random_state=42)

lasso_model.fit(X_train_scaled, y_train)

training_score_lasso = lasso_model.score(X_train_scaled, y_train)
print('Training R2 Score (in %):', round(training_score_lasso*100, 4))

testing_score_lasso = lasso_model.score(X_val_scaled, y_val)
print('Validation R2 Score (in %):', round(testing_score_lasso*100, 4))

Training R2 Score (in %): 83.0422
Validation R2 Score (in %): 82.4799

In [63]:
testing_score_lasso = lasso_model.score(X_test_scaled, y_test)
print('Testing R2 Score (in %):', round(testing_score_lasso*100, 4))

Testing R2 Score (in %): 93.3806

In [62]:
mis_testing_score_lasso = lasso_model.score(X_mis_scaled, y_mis)
print('Miscellaneous Testing R2 Score (in %):', round(mis_testing_score_lasso*100, 4))

Miscellaneous Testing R2 Score (in %): 81.3624

## Ridge Regression

In [27]:
from sklearn.linear_model import Ridge

ridge_model = Ridge(alpha=50, random_state=42)

ridge_model.fit(X_train_scaled, y_train)

training_score_ridge = ridge_model.score(X_train_scaled, y_train)
print('Training R2 Score (in %):', round(training_score_ridge*100, 4))

validation_score_ridge = ridge_model.score(X_val_scaled, y_val)
print('Validation R2 Score (in %):', round(validation_score_ridge*100, 4))

Training R2 Score (in %): 83.0487
Validation R2 Score (in %): 82.4857

In [28]:
testing_score_ridge = ridge_model.score(X_test_scaled, y_test)
print('Testing R2 Score (in %):', round(testing_score_ridge*100, 4))

Testing R2 Score (in %): 93.4406

In [29]:
mis_testing_score_ridge = ridge_model.score(X_mis_scaled, y_mis)
print('Miscellaneous Testing R2 Score (in %):', round(mis_testing_score_ridge*100, 4))

Miscellaneous Testing R2 Score (in %): 81.4369

## Linear SVR

In [76]:
from sklearn.svm import LinearSVR

linear_svr_model = LinearSVR(epsilon=0.0, C=5.0, random_state=42)

linear_svr_model.fit(X_train_scaled, y_train)

training_score_linear_svr = linear_svr_model.score(X_train_scaled, y_train)
print('Training R2 Score (in %):', round(training_score_linear_svr*100, 4))

validation_score_linear_svr = linear_svr_model.score(X_val_scaled, y_val)
print('Validation R2 Score (in %):', round(validation_score_linear_svr*100, 4))

Training R2 Score (in %): 82.0153
Validation R2 Score (in %): 81.3113

In [78]:
testing_score_linear_svr = linear_svr_model.score(X_test_scaled, y_test)
print('Testing R2 Score (in %):', round(testing_score_linear_svr*100, 4))

Testing R2 Score (in %): 94.5484

In [81]:
mis_testing_score_linear_svr = linear_svr_model.score(X_mis_scaled, y_mis)
print('Miscellaneous Testing R2 Score (in %):', round(mis_testing_score_linear_svr*100, 4))

Miscellaneous Testing R2 Score (in %): 81.96

## Decision Tree Regressor

In [30]:
from sklearn.tree import DecisionTreeRegressor

dt_model = DecisionTreeRegressor()

dt_model.fit(X_train_scaled, y_train)

training_score_dt = dt_model.score(X_train_scaled, y_train)
print('Training R2 Score (in %):', round(training_score_dt*100, 4))

validation_score_dt = dt_model.score(X_val_scaled, y_val)
print('Validation R2 Score (in %):', round(validation_score_dt*100, 4))

Training R2 Score (in %): 99.9881
Validation R2 Score (in %): 96.584

In [31]:
testing_score_dt = dt_model.score(X_test_scaled, y_test)
print('Testing R2 Score (in %):', round(testing_score_dt*100, 4))

Testing R2 Score (in %): 87.6646

In [32]:
mis_testing_score_dt = dt_model.score(X_mis_scaled, y_mis)
print('Miscellaneous Testing R2 Score (in %):', round(mis_testing_score_dt*100, 4))

Miscellaneous Testing R2 Score (in %): 72.6301

## AdaBoost Regressor

In [33]:
from sklearn.ensemble import AdaBoostRegressor

adaboost_model = AdaBoostRegressor(n_estimators=50, random_state=42)

adaboost_model.fit(X_train_scaled, y_train)

training_score_adaboost = adaboost_model.score(X_train_scaled, y_train)
print('Training R2 Score (in %):', round(training_score_adaboost*100, 4))

validation_score_adaboost = adaboost_model.score(X_val_scaled, y_val)
print('Validation R2 Score (in %):', round(validation_score_adaboost*100, 4))

Training R2 Score (in %): 72.1787
Validation R2 Score (in %): 71.8397

In [34]:
testing_score_adaboost = adaboost_model.score(X_test_scaled, y_test)
print('Testing R2 Score (in %):', round(testing_score_adaboost*100, 4))

Testing R2 Score (in %): 72.2454

In [35]:
mis_testing_score_adaboost = adaboost_model.score(X_mis_scaled, y_mis)
print('Miscellaneous Testing R2 Score (in %):', round(mis_testing_score_adaboost*100, 4))

Miscellaneous Testing R2 Score (in %): 59.6688

## MLP Regressor

In [36]:
from sklearn.neural_network import MLPRegressor

mlp_model = MLPRegressor(hidden_layer_sizes=(50,), activation='relu', solver='adam', batch_size=512, random_state=42, verbose=True)

mlp_model.fit(X_train_scaled, y_train)

training_score_mlp = mlp_model.score(X_train_scaled, y_train)
print('Training R2 Score (in %):', round(training_score_mlp*100, 4))

validation_score_mlp = mlp_model.score(X_val_scaled, y_val)
print('Validation R2 Score (in %):', round(validation_score_mlp*100, 4))

Iteration 1, loss = 1000.47470840
Iteration 2, loss = 56.24066882
Iteration 3, loss = 33.18753686
Iteration 4, loss = 19.84205891
Iteration 5, loss = 15.36195020
Iteration 6, loss = 13.35506516
Iteration 7, loss = 12.25537533
Iteration 8, loss = 11.67781896
Iteration 9, loss = 11.37570262
Iteration 10, loss = 11.21725675
Iteration 11, loss = 11.12203133
Iteration 12, loss = 10.98021266
Iteration 13, loss = 10.80600477
Iteration 14, loss = 10.67163934
Iteration 15, loss = 10.55008629
Iteration 16, loss = 10.45723077
Iteration 17, loss = 10.37780994
Iteration 18, loss = 10.30714182
Iteration 19, loss = 10.24677535
Iteration 20, loss = 10.18079143
Iteration 21, loss = 10.11726129
Iteration 22, loss = 10.04795111
Iteration 23, loss = 9.97232066
Iteration 24, loss = 9.89995536
Iteration 25, loss = 9.83209525
Iteration 26, loss = 9.77171134
Iteration 27, loss = 9.71936673
Iteration 28, loss = 9.66999098
Iteration 29, loss = 9.61658826
Iteration 30, loss = 9.56646525
Iteration 31, loss = 9.52734334
Iteration 32, loss = 9.49474414
Iteration 33, loss = 9.46510903
Iteration 34, loss = 9.43736080
Iteration 35, loss = 9.40941866
Iteration 36, loss = 9.38318521
Iteration 37, loss = 9.35744558
Iteration 38, loss = 9.33897990
Iteration 39, loss = 9.31879768
Iteration 40, loss = 9.29841037
Iteration 41, loss = 9.28093478
Iteration 42, loss = 9.26670436
Iteration 43, loss = 9.25033066
Iteration 44, loss = 9.23578415
Iteration 45, loss = 9.21797949
Iteration 46, loss = 9.20264703
Iteration 47, loss = 9.18707321
Iteration 48, loss = 9.17099410
Iteration 49, loss = 9.15782959
Iteration 50, loss = 9.14331424
Iteration 51, loss = 9.13049374
Iteration 52, loss = 9.11958332
Iteration 53, loss = 9.10676267
Iteration 54, loss = 9.09232525
Iteration 55, loss = 9.08174246
Iteration 56, loss = 9.06869976
Iteration 57, loss = 9.05284214
Iteration 58, loss = 9.04057468
Iteration 59, loss = 9.02530626
Iteration 60, loss = 9.01302303
Iteration 61, loss = 9.00385007
Iteration 62, loss = 8.99239667
Iteration 63, loss = 8.98152086
Iteration 64, loss = 8.97596072
Iteration 65, loss = 8.96491250
Iteration 66, loss = 8.95653258
Iteration 67, loss = 8.94750520
Iteration 68, loss = 8.94295645
Iteration 69, loss = 8.93466690
Iteration 70, loss = 8.92960398
Iteration 71, loss = 8.92411279
Iteration 72, loss = 8.92032650
Iteration 73, loss = 8.91457331
Iteration 74, loss = 8.91016020
Iteration 75, loss = 8.90449554
Iteration 76, loss = 8.89955859
Iteration 77, loss = 8.89527012
Iteration 78, loss = 8.88809218
Iteration 79, loss = 8.88735402
Iteration 80, loss = 8.88435075
Iteration 81, loss = 8.87984843
Iteration 82, loss = 8.87477474
Iteration 83, loss = 8.87193361
Iteration 84, loss = 8.87022335
Iteration 85, loss = 8.86731701
Iteration 86, loss = 8.86253876
Iteration 87, loss = 8.85645148
Iteration 88, loss = 8.85758910
Iteration 89, loss = 8.85291775
Iteration 90, loss = 8.84930556
Iteration 91, loss = 8.84556727
Iteration 92, loss = 8.84255000
Iteration 93, loss = 8.84263832
Iteration 94, loss = 8.83870547
Iteration 95, loss = 8.83510869
Iteration 96, loss = 8.83248558
Iteration 97, loss = 8.82993948
Iteration 98, loss = 8.82726378
Iteration 99, loss = 8.82268784
Iteration 100, loss = 8.82174310
Iteration 101, loss = 8.81960792
Iteration 102, loss = 8.81646219
Iteration 103, loss = 8.81489769
Iteration 104, loss = 8.80817222
Iteration 105, loss = 8.80888231
Iteration 106, loss = 8.80669516
Iteration 107, loss = 8.80340424
Iteration 108, loss = 8.79644469
Iteration 109, loss = 8.79622897
Iteration 110, loss = 8.79217601
Iteration 111, loss = 8.78914363
Iteration 112, loss = 8.78480697
Iteration 113, loss = 8.78418334
Iteration 114, loss = 8.78024348
Iteration 115, loss = 8.77777510
Iteration 116, loss = 8.77899088
Iteration 117, loss = 8.77757177
Iteration 118, loss = 8.77358370
Iteration 119, loss = 8.77238141
Iteration 120, loss = 8.77016171
Iteration 121, loss = 8.77024714
Iteration 122, loss = 8.76898094
Iteration 123, loss = 8.76585693
Iteration 124, loss = 8.76256437
Iteration 125, loss = 8.76103850
Iteration 126, loss = 8.76056238
Iteration 127, loss = 8.75888597
Iteration 128, loss = 8.75790365
Iteration 129, loss = 8.75736953
Iteration 130, loss = 8.75807868
Iteration 131, loss = 8.75580354
Iteration 132, loss = 8.75230020
Iteration 133, loss = 8.74498288
Iteration 134, loss = 8.73908482
Iteration 135, loss = 8.73602713
Iteration 136, loss = 8.73279748
Iteration 137, loss = 8.73081850
Iteration 138, loss = 8.72827599
Iteration 139, loss = 8.72604904
Iteration 140, loss = 8.72353030
Iteration 141, loss = 8.72292423
Iteration 142, loss = 8.72037327
Iteration 143, loss = 8.71687057
Iteration 144, loss = 8.71558898
Iteration 145, loss = 8.71497609
Iteration 146, loss = 8.71172923
Iteration 147, loss = 8.71041311
Iteration 148, loss = 8.70750170
Iteration 149, loss = 8.70702047
Iteration 150, loss = 8.70373552
Iteration 151, loss = 8.70373087
Iteration 152, loss = 8.69996344
Iteration 153, loss = 8.69786976
Iteration 154, loss = 8.69712246
Iteration 155, loss = 8.69420228
Iteration 156, loss = 8.68994855
Iteration 157, loss = 8.68721648
Iteration 158, loss = 8.67817531
Iteration 159, loss = 8.67577684
Iteration 160, loss = 8.67078701
Iteration 161, loss = 8.66839278
Iteration 162, loss = 8.66634584
Iteration 163, loss = 8.66636325
Iteration 164, loss = 8.66176420
Iteration 165, loss = 8.65779161
Iteration 166, loss = 8.64522915
Iteration 167, loss = 8.51604734
Iteration 168, loss = 8.42313598
Iteration 169, loss = 8.35803484
Iteration 170, loss = 8.28737372
Iteration 171, loss = 8.21398607
Iteration 172, loss = 8.14205141
Iteration 173, loss = 8.06677358
Iteration 174, loss = 7.99336150
Iteration 175, loss = 7.92001957
Iteration 176, loss = 7.85082218
Iteration 177, loss = 7.78657340
Iteration 178, loss = 7.72521241
Iteration 179, loss = 7.66850209
Iteration 180, loss = 7.61496253
Iteration 181, loss = 7.57153907
Iteration 182, loss = 7.52624049
Iteration 183, loss = 7.48304727
Iteration 184, loss = 7.44481830
Iteration 185, loss = 7.40869858
Iteration 186, loss = 7.37430446
Iteration 187, loss = 7.34305438
Iteration 188, loss = 7.31245470
Iteration 189, loss = 7.28173131
Iteration 190, loss = 7.25651666
Iteration 191, loss = 7.22960337
Iteration 192, loss = 7.20413256
Iteration 193, loss = 7.17689064
Iteration 194, loss = 7.15317142
Iteration 195, loss = 7.12980348
Iteration 196, loss = 7.10274300
Iteration 197, loss = 7.08074553
Iteration 198, loss = 7.05890407
Iteration 199, loss = 7.03701446
Iteration 200, loss = 7.01333501

d:\Python\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:690: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Training R2 Score (in %): 91.6234
Validation R2 Score (in %): 91.3528

In [37]:
testing_score_mlp = mlp_model.score(X_test_scaled, y_test)
print('Testing R2 Score (in %):', round(testing_score_mlp*100, 4))

Testing R2 Score (in %): 93.7002

In [38]:
mis_testing_score_mlp = mlp_model.score(X_mis_scaled, y_mis)
print('Miscellaneous Testing R2 Score (in %):', round(mis_testing_score_mlp*100, 4))

Miscellaneous Testing R2 Score (in %): 81.4751

## KNN Regressor

In [39]:
from sklearn.neighbors import KNeighborsRegressor

knn_model = KNeighborsRegressor(n_neighbors=5, weights='uniform')  

knn_model.fit(X_train_scaled, y_train)

training_score_knn = knn_model.score(X_train_scaled, y_train)
print('Training R2 Score (in %):', round(training_score_knn*100, 4))

validation_score_knn = knn_model.score(X_val_scaled, y_val)
print('Validation R2 Score (in %):', round(validation_score_knn*100, 4))

Training R2 Score (in %): 98.7219
Validation R2 Score (in %): 98.0356

In [40]:
testing_score_knn = knn_model.score(X_test_scaled, y_test)
print('Testing R2 Score (in %):', round(testing_score_knn*100, 4))

Testing R2 Score (in %): 84.4841

In [41]:
mis_testing_score_knn = knn_model.score(X_mis_scaled, y_mis)
print('Miscellaneous Testing R2 Score (in %):', round(mis_testing_score_knn*100, 4))

Miscellaneous Testing R2 Score (in %): 72.2877

***